.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.warState {
    font-size: 30px;
    font-weight: bold;
}

.timeInfo {
    margin-top: 10px;
}

.teamSize {
    margin-top: 5px;
    color: grey;
    font-size: 14px;
    font-weight: 700;
}

.score {
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
}

.clanScore {
    &.isWinning {
        color: green;
    }

    &.isLosing {
        color: #9f0000;
    }

    &.isDraw {
        color: #e0ac00;
    }
}

.opponentScore {
    &.isWinning {
        color: #9f0000;
    }

    &.isLosing {
        color: green;
    }

    &.isDraw {
        color: #e0ac00;
    }
}
