.card {
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    position: relative;
    outline: none;
    border: none;

    &.cantAttack {
        background-color: #d9d9d9;
    }

    &.hasAttacked {
        cursor: pointer;
        padding-bottom: 20px;

        &:hover,
        &:focus-visible {
            background-color: #e5e5e5;

            &.cantAttack {
                background-color: #cccccc;
            }
        }
    }
}

.title {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.logItem {
    display: flex;
    align-items: center;
    font-size: 14px;

    &:last-child {
        margin-top: 5px;
    }
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.expandIcon {
    height: 15px;
    position: absolute;
    bottom: 3px;

    &.isExpanded {
        transform: rotate(180deg);
    }
}

.attack {
    text-align: left;
    margin-top: 5px;
}

.attackInfo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 12px;
}

.attackIcon {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin-left: 3px;
}

.thIcon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.attacksTitle {
    text-align: left;
    color: grey;
    font-weight: 700;
    font-size: 12px;
}
