@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1.5s linear infinite spinner;
    width: 40px;
    height: 40px;
    fill: #000;
    will-change: transform;
}
